
h1{
    color: coral;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div{
    width: 400px;
    padding: 50px;
    border: 15px groove palevioletred;
    margin: 50px;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 25px;
    color:darkmagenta;
}